.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.loading {
  margin-top: 213px;
  margin-bottom: 213px;
}
